<div class="column is-half is-offset-one-quarter">
  <div class="box">
    <%= form_tag  clock_event_path, method: :patch do %>
    <div class="card-content">
      <%= label_tag "Name", nil, class: "label" %>
      <%= text_field_tag :name, @clock_event.name, class: "input" %>
      <%= label_tag "Clock Type", nil, class: "label" %>
      <div class="select">
        <%= select_tag :clock_type, options_for_select(TimeClock.pluck(:category), selected: @clock_event.clock_type) %>
      </div>
    </div>  
  </div>
  <div class="is-pulled-right">
    <%= submit_tag "Update", class: "button is-primary" %>
    
    <%= link_to "Back", clock_events_path, class: "button" %>
  </div>
  <% end %>
</div>

