<table class="table datatable is-hoverable is-fullwidth">
  <thead>
  <tr>
    <th>Clock Event ID</th>
    <th>Name</th>
    <th>Clock Type</th>
    <th>Time</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @clock_events.order(created_at: :desc).each do |clock_event| %>
    <tr>
      <td><%= clock_event.id %></td>
      <td><%= clock_event.name %></td>
      <td><%= clock_event.clock_type %></td>
      <td><%= clock_event.created_at %></td>
      <td>
        <%= link_to "Edit", edit_clock_event_path(clock_event), class: "button" %>
        <%= button_to "Delete", clock_event_path(clock_event.id), method: :delete, class: "button is-danger", form: {style: "display:inline-block;"}%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @clock_events, container: false %>
