<div class="column is-half is-offset-one-quarter">
  <div class="box">
    <%= form_tag  clock_events_path, method: :create do %>
    <div class="card-content">
      <div class="field">
        <%= label_tag "Name", nil, class: "label" %>
        <%= text_field_tag :name, "", class: "input" %>
        <br/>
        <%= label_tag "Clock Type", nil, class: "label" %>
        <div class="select">
          <%= select_tag :clock_type, options_for_select(TimeClock.pluck(:category)) %>
        </div>
      </div>
    </div>  
  </div>
  <div class="is-pulled-right">
    <%= submit_tag "Submit", class: "button is-primary" %>
    <%= link_to "Back", clock_events_path, class: "button" %>
  </div>
  <% end %>
</div>

