<nav class="aa-navbar navbar is-dark">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Clock Events", clock_events_path, class: "navbar-item" %>
        <%= link_to "Create Clock Event", new_clock_event_path, class: "navbar-item" %>
      </div>
    </div>
  </div>
</nav>
