<!DOCTYPE html>
<html>
<head>
  <title>Clock Events</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "clock_events", media: "all", "data-turbolinks-track": "reload" %>
</head>
<body>
  <%= render "layouts/navigation" %>
  <%= render "layouts/messages" %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>